* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 165, 211);
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    margin-bottom: 30rem;
    text-align: center;
}

.gradient-text {
    background-image: linear-gradient(160deg, rgb(255, 17, 0), rgba(7, 30, 240, 0.8), rgb(255, 0, 0));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.board {
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    box-shadow: 0 0 15px 5px rgba(9, 6, 99, 0.3);
    border-radius: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    border: solid 1px rgb(82, 28, 81);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer; 
    background-color: white
}

button {
    position: absolute;
    margin-left: -11.18rem;
    margin-top: 11rem;
    border: none;
    font-size: 10px;
    padding: 5px;
    background-image: linear-gradient(160deg, rgb(255, 17, 0), rgb(7, 30, 240), rgb(255, 0, 0));
    cursor: pointer;
    border-radius: 5px;;
    transition: 500ms;
    color: black
}

button:hover {
    transform: scale(1.5);
    color: white;
    background-image: linear-gradient(160deg, rgb(7, 30, 240), rgb(255, 0, 0), rgb(7, 30, 240));
}

.turn {
    position: absolute;
    margin-bottom: 23.5rem;
    text-align: center;;
    border: 1.2px outset rgb(118, 20, 209) ;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(200, 28, 28);
    transition: 500ms;
    box-shadow: 0 0 15px 5px rgba(22, 8, 79, 0.3);
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}

.cell:first-child {
    border-top-left-radius: 10px;
}

.cell:nth-child(3) {
    border-top-right-radius: 10px;
}

.cell:nth-child(9) {
    border-bottom-right-radius: 10px;
}

.cell:nth-child(7) {
    border-bottom-left-radius: 10px;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:first-child,
.cell:nth-child(4),
.cell:nth-child(7) {
    border-left: none;
}
.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:last-child {
    border-bottom: none;
}
